body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina rellenos */
}

.logo {
  width: auto; /* Ocupar todo el ancho disponible */
  max-width: 400px; /* Asegurarse de que no exceda el contenedor */
  height: auto; /* Mantener proporción de la imagen */
  display: block; /* Centrar la imagen automáticamente */
  margin: 0 auto; /* Eliminar márgenes */
}

/* Ajustes específicos para móviles */
@media (max-width: 600px) {
  .logo {
    width: 100%; /* Ocupar todo el ancho en móviles */
    max-width: 100%; /* Asegurarse de que no exceda el contenedor */
  }
}

main {
  flex: 1;
  padding: 20px 0; /* Agregar algo de espacio superior/inferior */
}

h1 {
  color: #185269;
  font-size: 2em;
  margin-bottom: 20px;
}

#resultados p {
  font-size: 1.2em;
  color: #333;
  margin: 10px 0;
}

#resultados strong {
  font-weight: bold;
  color: #185269;
}

#resultados span {
  font-weight: normal;
}

button {
  font-size: 1.2em;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #185269;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0f353d;
}

footer {
  background-color: #f1f1f1;
  color: #555;
  text-align: center;
  padding: 3px 0; /* Espaciado interno reducido */
  font-size: 0.9em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap; /* Permitir que el contenido pase a la siguiente línea si es necesario */
  justify-content: center;
  gap: 3px; /* Espaciado reducido entre elementos */
  line-height: 0.3; /* Reducir el espaciado entre líneas */
  padding: 0; /* Eliminar relleno adicional */
}

@media (max-width: 600px) {
  footer {
    padding: 3px 0; /* Espaciado aún más reducido en móviles */
    font-size: 0.8em; /* Reducir el tamaño de fuente en móviles */
  }

  .footer-content {
    flex-direction: column; /* Forzar alineación vertical en móviles */
    line-height: 0.3; /* Espaciado mínimo entre líneas */
    gap: 3px; /* Espaciado mínimo entre elementos */
  }
}
